*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
@font-face {
	font-family:"gbg";
	src: url('../fontf/ruizibige.eot'); /* IE9 兼容模式 */
    src: url('../fontf/ruizibige.eot?#iefix') format('embedded-opentype'), /*IE6-IE8 */
    url('../fontf/ruizibige.woff') format('woff'), /*标准浏览器*/
    url('../fontf/ruizibige.ttf')  format('truetype'), /*Safari, Android, iOS*/
    url('../fontf/ruizibige.svg#ruizibige') format('svg'); /*Chrome4+,Safari3.1+,Opera10.0+,iOS Mobile Safari3.2+*/
}
body{
	font-family:"仿宋",gbg;	
}
.bjimg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../img/timg.png) no-repeat #1d1916 ;
	background-size: 100% 100%;
}
.logo{
	width: 150px;
	position: absolute;
	left: 5%;
	top: 20px;
}
.nav{
	list-style: none;
	position: absolute;
	right: 10%;
	top: 60px;
}
.nav li{
	width: 100px;
	height: 45px;
	padding-top: 20px;
	text-align: center;
	float: left;	
	cursor: pointer;
	font-size: 14px;
}
.nav a{
	color: black;
	text-decoration: none;
}
.nav li span{
	font-size: 20px;
	font-weight: 900;
}
.back{
	color: white;
	background: url(../img/nav.png);
	background-size: 100% 70px;
}
.nav li:hover{
	color: white;
	background: url(../img/nav.png);
	background-size: 100% 70px;
}
.content{
	width: 300px;
	height: 250px;
	position: absolute;
	right: 24%;
	top: 150px;
	text-align: center;
	line-height: 24px;
}
.content img{
	width: 280px;
}
.vid{
	width: 300px;
	height: 200px;
	position: absolute;
	right: 6%;
	top: 400px;	
	padding: 0px 10px;
}
.vid video{
	width: 300px;
	height: 200px;
	border: none;
}
.allist{
	width: 825px;
	position: absolute;
	right: 6%;
	top: 150px;
	list-style: none;	
	font-family: arial;
}
.allist li{
	width: 250px;
	height: 260px;
	overflow: hidden;
	float: left;
	margin-left: 25px;
	margin-bottom: 20px;
	box-sizing: border-box;
	background: #fbf7f4;
	border-radius: 5px;
}
.allist img{
	width: 100%;
	height: 180px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.allist p{
	width: 96%;
	margin: 0 auto;
	margin-top: 4px;
	text-indent: 32px;
}
.allast {
	border-radius: 5px;
	overflow: hidden;
	width: 800px;
	height: 200px;
	position: absolute;
	right: 6%;
	top: 430px;
	background: #fbf7f4;
	font-family: arial;	
	margin-bottom: 24px;
}
.allast p{
	display: inline-block;
	width: 360px;
	height: 180px;
    padding: 20px 20px 0px;
	text-indent: 32px;
	line-height: 20px;
	float: left;
}
.allast img{
	width: 400px;
	height: 200px;
	float: left;
}
.jieda{
    width: 680px;
	position: absolute;
	right: 8%;
	top: 180px;
	list-style: none;	
	font-family: "新宋体";
	font-size: 15px;
}
.jieda li{
	width: 280px;
	min-height: 160px;
	border: dashed 1px #666;
	background: #fbf7f4;
	padding:10px;
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
	border-radius: 10px;
	overflow: hidden;
}
.jieda li p:first-child{
	text-align: center;
	font-size: 20px;
	font-weight: 900;
}
.jieda .backimg{
	width: 100px;
	height: 100px;
	min-height: 100px;
	position: absolute;
	right:280px;
	top: 140px;
	border-radius: 50px;
	padding: 0;
	background: #faf6f3;
}
.jieda .backimg img{
	width: 100px;
	height: 100px;
}
.pingjia_list{
	width: 680px;
	height: 400px;
	position: absolute;
	right: 8%;
	top: 150px;
	list-style: none;
	font-family: arial;
	font-size: 14px;
}
.pingjia_list li{
	width: 680px;
	height: 150px;
	position: relative;
	margin-top: 10px;
}
.pingjia_list img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
}
.pingjia_list span{
	position: absolute;
	top: 0px;
	left: 130px;
}
.pingjia_list div{
	position: absolute;
	top: 30px;
	left: 130px;
    background: #f5edeb;
	padding: 10px 10px;
	text-indent: 28px;
	border-radius: 6px;
}
.pingjia_list div::after{
	content: "";
	width: 0px;
	height: 0px;
	border: solid 8px transparent;
	border-right-width: 20px;
	border-right-color: #f5edeb;
	transform: rotate(30deg);
	position: absolute;
	left: -20px;
	top: 10px;
}
.heyingbox{
	width: 650px;
	position: absolute;
	right: 12%;
	top: 180px;
}
.heyingbox img{
	width: 650px;
	height: 320px;
}
.btnbox{
	height: 60px;
	width: 650px;
	position: relative;
	overflow: hidden;
	top: 6px;
}
.btnbox .btnup{
	width: 20px;
	height: 30px;
	overflow: hidden;
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background:#4a4a4a url(../img/btn.png) no-repeat ;
    background-size: 50px 30px;
	position: absolute;
	top: 15px;
	left: 0px;
}
.btnbox .btnnext{
	cursor: pointer;
	width: 20px;
	height: 30px;
	overflow: hidden;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background:#4a4a4a url(../img/btn.png) no-repeat -30px 0px;
	background-size: 50px 30px;
	position: absolute;
	top: 15px;
	right: 1px;
}
.heyinglist{
	width: 1970px;
	height:60px;
	position: absolute;
	left: 0;
	transition: left 2s;
}
.heyinglist img{
	float: left;
	border:  solid 1px white;
	width: 98px;
	height: 58px;
	margin-right: 10px;
}
.heyinglist img:nth-child(4){
	border:  solid 1px red;
}
.heyinglist img:last-child{
	margin: 0;
}
.meiti{
	width: 30%;
	position: absolute;
	right: 13%;
	top: 250px;
}
.danwei{
	width: 300px;
	position: absolute;
	right: 15%;
	top: 250px;
}
@media all and (max-width: 415px) {
	.bjimg{
		background: url(../img/bb2.jpg) no-repeat #fdfdf5 ;
		background-size: 100% 100%;
	}
	.logo{
		width: 80px;
	}
	.nav{
		width: 90%;
		left: 5%;
    }
    .nav li{
    	width: 33%;
    	font-size: 16px;
    }
    .nav li span{
    	width: 100%;
    	text-align: center;
    	display: inline-block;
		font-size: 20px;
		font-weight: 900;
	}
    .content{
		width: 86%;
		position: absolute;
		right: 7%;
		top: 250px;
	}
	.content img{
		width: 90%;
	}
	.vid{
		width: 86%;
		height: 200px;
		position: absolute;
		right: 7%;
		top: 550px;	
		padding: 00px 0px 30px;
	}
	.vid video{
		width: 100%;
		height: 200px;
	}
	.allist{
		width: 86%;
		position: absolute;
		right: 7%;
		top: 280px;
		font-family: "仿宋";
	}
	.allist li{
		width: 100%;
		float: none;
		margin-left: 0;
		margin-bottom: 30px;
		box-sizing: border-box;
		background: #fbf7f4;
		border-radius: 5px;
	}
	.allast {
		overflow: visible;
		width: 86%;
		height: 400px;
		position: absolute;
		right: 7%;
		top: 1150px;
		background:none;
		border-radius: 5px;
		font-family: "仿宋";	
	}
	.allast p{
		display: inline-block;
		width: 96%;
		height: 150px;
	    padding: 10px 2%;
		text-indent: 32px;
		line-height: 20px;
		background: #fbf7f4;
		margin-bottom: 20px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		position: absolute;
		top: 200px;
	}
	.allast img{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		width: 100%;
		height: 200px;
		position: absolute;
		top: 0px;
	}
	.jieda{
	    width: 86%;
		position: absolute;
		right: 7%;
		top: 353px;
		list-style: none;	
		font-family: "新宋体";
		font-size: 15px;
		padding-bottom: 20px;
	}
	.jieda li{
		width: 96%;
		border: dashed 1px #666;
		-webkit-box-shadow: 0px 2px 2px 2px #ceb78e;
		box-shadow: 0px 2px 2px 2px #ceb78e;
		background: #fbf7f4;
		padding: 10px 2% ;
		float: none;
		margin-right: 0px;
		border-radius: 10px;
		overflow: hidden;
	}
	.jieda .backimg{
		width: 100px;
		height: 100px;
		-webkit-box-shadow: 0px 0px 0px 0px #ceb78e;
		box-shadow: 0px 0px 0px 0px #ecdfcc;
		position: absolute;
		right:50%;
		top: -100px;
		margin-right: -50px;
		border-radius: 50px;
		padding: 0;
		background: #faf6f3;
	}
	.jieda .backimg img{
		width: 100px;
		height: 100px;
	}
}